.container-energie-info {
  background-color: white;
}

.energyBox{
  height: fit-content;
  width: fit-content;
  padding-inline: 4%;
  padding-top: 2%;
  padding-bottom: 3%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
  background-color: white;
}

.energyBox:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}

.energy1{
  margin-right: 4em;
  margin-top: 0.6em;
}

#valeur1{
  position: absolute;
  top: 290px;
  left: 390px;

}

#valeur2{
  position: absolute;
  top: 290px;
  left: 740px;

}


