.houseLogo{
  transition: transform 0.8s ease;
}

.houseLogo:hover{
  transform: scale(1.4);
}

.hover-visible {
  opacity: 0;
  transition: opacity 0.3s;
}

.houseLogo:hover .hover-visible {
  opacity: 1;
}
